{% extends "__base_template.html" %}

{% block content %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">

      {% if character.title == 'Арбор' %}
    <div class="col-md-4" style="margin-top: 23px">
      <img src="/static/1.png" class="card-img" alt="..." >
    </div>
      {% endif %}

      {% if character.title == 'Туг' %}
    <div class="col-md-4" style="margin-top: 23px">
      <img src="/static/2.png" class="card-img" alt="..." >
    </div>
      {% endif %}

      {% if character.title == 'Панголины' %}
    <div class="col-md-4" style="margin-top: 23px">
      <img src="/static/3.png" class="card-img" alt="..." >
    </div>
      {% endif %}

      {% if character.title == 'Фодинис' %}
    <div class="col-md-4" style="margin-top: 23px">
      <img src="/static/4.png" class="card-img" alt="..." >
    </div>
      {% endif %}

      {% if character.title == 'Люди' %}
    <div class="col-md-4" style="margin-top: 23px">
      <img src="/static/5.png" class="card-img" alt="..." >
    </div>
      {% endif %}

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"  style="font-size: 14px">Имя: {{ character.name }}</h5>
        <h5 class="card-title" style="font-size: 14px">Раса: {{ character.title }}</h5>
        <h5 class="card-title" style="font-size: 14px">Город: {{ character.city }}</h5>
        <h5 class="card-title" style="font-size: 14px">Возраст: {{ character.age }} лет</h5>


          {% if character.title == 'Арбор' %}
        <p class="card-text" style="font-size: 12px; margin-left: 5px">О расе: Раса лесных существ, живущих в чаще священного леса. Очень религиозны,
                верят в тесную связь с древесными духами. Ни при каких обстоятельствах
                не пускают в свои владения чужаков. Не стремятся расширить свои владения,
                всеми силами оберегая то, что имеют. Предводитель – вождь племени, охраняет порядок, отвечает за безопасность племени.
                Альтернативный авторитет – шаман, говорит с духами, знает о священном лесу больше всех,
                утверждает вождем самого храброго, сильного и благочестивого война, опираясь на волю духов.
                Леса арбор богаты дичью и экзотическими растениями. Об ископаемых ресурсах ничего не известно.
                Самый ценный ресурс – деревья sacra.</p>
        <p class="card-text" style="font-size: 12px">Особенности расы: не могут быть атакованы в священном лесу,
                пока сами не совершат заметных действий; +15% к любому урону, нанесенному на территории священного леса;
                +15% к чистому запасу маны; темная магия расходует на 30% больше маны; не могут использовать древесину деревьев sacra.</p>
          {% endif %}

          {% if character.title == 'Туг' %}
        <p class="card-text" style="font-size: 12px">О расе: Громилы, жители пустынь. Не очень умны, зато в силе и стойкости им нет равных.
            Многочисленные костные наросты используются как для защиты, так и для атаки. Живут большими ордами,
            часто совершают набеги на чужие земли с целью получить еду, оружие или драгоценности, которые можно
            обменять на еду и оружие. Предводитель – ордынский темник, имеющий абсолютную власть в орде. Традиционно
            избирается в ритуальном поединке между всеми претендентами на властвование. Все расы относятся к туг с агрессией или,
            как минимум, особой осторожностью.</p>
        <p class="card-text" style="font-size: 12px">Особенности расы: +20% к урону оружием ближнего боя; +25% к здоровью; +15% к защите;
            не способны использовать инженерию и магию.</p>
          {% endif %}

          {% if character.title == 'Панголины' %}
        <p class="card-text" style="font-size: 12px">О расе: Раса развитых ящеров. Малочисленность, бедные ресурсами земли,
            высокая конкуренция с более сильными расами вынудили панголинов покинуть родные края ещё до описания лет.
            Ящеры беспрерывно путешествовали по всем доступным территориям, предлагая свои товары и знания, накопленные
            в пути, местным жителям по доступной цене. Такой образ жизни поспособствовал раннему развитию экономики,
            арифметики, дипломатии и мореходства. Сейчас панголины - самые богатые купцы, опытные политики и уважаемые учёные.
            Не имеют своего государства, но пользуются огромным доверием и занимают высокие посты почти во всех землях.</p>
        <p class="card-text" style="font-size: 12px">Особенности расы: 10% скидка на все товары в любом магазине;
            - 20% к параметру здоровья; +10% к скорости; имеют преимущество при выборе из претендентов с равными шансами;
            могут получить эффекты некоторых способностей за золото, даже не изучая этих способностей.</p>
          {% endif %}

          {% if character.title == 'Фодинис' %}
        <p class="card-text" style="font-size: 12px">О расе: Трудолюбивый горный народ. Можно подумать, фодинис зародились
            в пещере да так и не выбрались оттуда до сих пор. Говорит ли это об отсталости расы? Нет, совсем наоборот,
            фодинис научились использовать те многочисленные ресурсы, которые подарили им родные подземелья, и
            стали настоящими мастерами кузнечного, инженерного, зачаровательного дела. Сила крови горцев позволяет
            им вкладывать в предметы уникальные свойства. Торговля развита слабо. Предводителем фодинис является избранник
            из народа.</p>
        <p class="card-text" style="font-size: 12px">Особенности расы: +10% к эффектам зачарований;
            -20% к количеству каждого необходимого ресурса для строительства, инженерного или кузнечного дела;
            +5% к скорости в темноте; -15% к защите; не способны использовать стихийную магию.</p>
          {% endif %}

          {% if character.title == 'Люди' %}
        <p class="card-text" style="font-size: 12px">О расе: Все мы и так прекрасно представляем себе эту расу.
            Люди хотят денег, земель и власти. Но не стоит забывать и о таких высоких чертах их характера,
            как честь, отвага доблесть… Людские земли разбиты на княжества, которыми управляют князья;
            все княжества находятся под властью императора.</p>
        <p class="card-text" style="font-size: 12px">Особенности расы: У этой расы нет никаких особенностей,
            зато она имеет бесконечный потенциал для кастомизации.</p>
          {% endif %}
          {% if character.info %}
            <p class="card-text" style="font-size: 12px">Дополнительное описание: {{ character.info }}</p>
          {% endif %}
        {% if character.ispublic %}
          <p class="card-text" style="font-size: 12px">Статус: Публичный</p>
        {% endif %}
        {% if not character.ispublic %}
          <p class="card-text" style="font-size: 12px">Статус: Непубличный</p>
        {% endif %}
        {% if user %}
        <p class="card-text"><small class="text-muted">Автор: {{ user.username }}</small></p>
        {% endif %}
        </small></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

