{% extends "__base_template.html" %}

{% block content %}
<form
        action="/character/create"
        method="post"
        enctype="multipart/form-data"

        class="card"
>
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="form-group">
            <h4>Как зовут вашего персонажа?</h4>
            <label for="{{ form.name.id }}">{{ form.name.label }}</label>
                {{ form.name(size=50, maxlength=50) }}
        </div>

        <div class="form-group">
            <h4>Выберите расу:</h4>
            <label for="{{ form.title.id }}">{{ form.title.label }}</label>
            {% for subfield in form.title %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}
        </div>

        <div class="card-group">
                <div class="card">
                    <img src="/static/1.png" class="card-img-top" alt="..." height="300px">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 10px">Раса лесных существ, живущих в чаще священног
о леса. Очень религиозны,
                верят в тесную связь с древесными духами. Ни при каких обстоятельствах
                не пускают в свои владения чужаков. Не стремятся расширить свои владения,
                всеми силами оберегая то, что имеют. Предводитель – вождь племени, охраняет порядок, отвечает за безопасность племени.
                Альтернативный авторитет – шаман, говорит с духами, знает о священном лесу больше всех,
                утверждает вождем самого храброго, сильного и благочестивого война, опираясь на волю духов.
                Леса арбор богаты дичью и экзотическими растениями. Об ископаемых ресурсах ничего не известно.
                Самый ценный ресурс – деревья sacra.</p>
                        <p class="card-text" style="font-size: 10px; color: grey">Особенности расы: не могут быть атакованы в священном лесу,
                пока сами не совершат заметных действий; +15% к любому урону, нанесенному на территории священного леса;
                +15% к чистому запасу маны; темная магия расходует на 30% больше маны; не могут использовать древесину
                деревьев sacra.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/2.png" class="card-img-top" alt="..." height="300px">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 10px">Раса развитых ящеров. Малочисленность, бедные ресурсами земли,
            высокая конкуренция с более сильными расами вынудили панголинов покинуть родные края ещё до описания лет.
            Ящеры беспрерывно путешествовали по всем доступным территориям, предлагая свои товары и знания, накопленные
            в пути, местным жителям по доступной цене. Такой образ жизни поспособствовал раннему развитию экономики,
            арифметики, дипломатии и мореходства. Сейчас панголины - самые богатые купцы, опытные политики и уважаемые учёные.
            Не имеют своего государства, но пользуются огромным доверием и занимают высокие посты почти во всех землях.</p>
            <p class="card-text" style="font-size: 10px; color: grey">Особенности расы: 10% скидка на все товары в любом магазине;
            - 20% к параметру здоровья; +10% к скорости; имеют преимущество при выборе из претендентов с равными шансами;
            могут получить эффекты некоторых способностей за золото, даже не изучая этих способностей.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/3.png" class="card-img-top" alt="..." height="300px">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 10px">Трудолюбивый горный народ. Можно подумать, фодинис зародились
            в пещере да так и не выбрались оттуда до сих пор. Говорит ли это об отсталости расы? Нет, совсем наоборот,
            фодинис научились использовать те многочисленные ресурсы, которые подарили им родные подземелья, и
            стали настоящими мастерами кузнечного, инженерного, зачаровательного дела. Сила крови горцев позволяет
            им вкладывать в предметы уникальные свойства. Торговля развита слабо. Предводителем фодинис является избранник
            из народа.</p>
            <p class="card-text" style="font-size: 10px; color: grey">Особенности расы; +10% к эффектам зачарований;
            -20% к количеству каждого необходимого ресурса для строительства, инженерного или кузнечного дела;
            +5% к скорости в темноте; -15% к защите; не способны использовать стихийную магию.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/4.png" class="card-img-top" alt="..." height="300px">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 10px">Трудолюбивый горный народ. Можно подумать, фодинис зародились
            в пещере да так и не выбрались оттуда до сих пор. Говорит ли это об отсталости расы? Нет, совсем наоборот,
            фодинис научились использовать те многочисленные ресурсы, которые подарили им родные подземелья, и
            стали настоящими мастерами кузнечного, инженерного, зачаровательного дела. Сила крови горцев позволяет
            им вкладывать в предметы уникальные свойства. Торговля развита слабо. Предводителем фодинис является избранник
            из народа.</p>
            <p class="card-text" style="font-size: 10px; color: grey">Особенности расы; +10% к эффектам зачарований;
            -20% к количеству каждого необходимого ресурса для строительства, инженерного или кузнечного дела;
            +5% к скорости в темноте; -15% к защите; не способны использовать стихийную магию.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/5.png" class="card-img-top" alt="..." height="300px">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 10px">Все мы и так прекрасно представляем себе эту расу.
            Люди хотят денег, земель и власти. Но не стоит забывать и о таких высоких чертах их характера,
            как честь, отвага доблесть… Людские земли разбиты на княжества, которыми управляют князья;
            все княжества находятся под властью императора.</p>
            <p class="card-text" style="font-size: 10px; color: grey">У этой расы нет никаких особенностей,
            зато она имеет бесконечный потенциал для кастомизации.</p>
                    </div>
                </div>
            </div>

        <div class="form-group">

            <label for="{{ form.city.id }}">{{ form.city.label }}</label>
            <h4>Выберите город:</h4>
            {{ form.city(class_="form-control") }}
        </div>

        <div class="form-group">
            <h4>Возраст персонажа(10-60 лет):</h4>
            <label for="{{ form.age.id }}">{{ form.age.label }}</label>
                {{ form.age(size=50, maxlength=2) }}
        </div>

        <div class="form-group">
            <h4>Дополнительное описание:</h4>
            <label for="{{ form.info.id }}">{{ form.info.label }}</label>
                {{ form.info(class_="form-control") }}
        </div>

        <div class="form-group">

            <label for="{{ form.ispublic.id }}">{{ form.ispublic.label }}</label>
                <h4>Сделать пероснажа публичным?</h4>
                {{ form.ispublic(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-light") }}
    </div>
</form>
{% endblock %}

