{% extends "__base_template.html" %}

{% block content %}

<div class="row">
    <div class="col align-self-center">
        <h1 align="center" style=" font-family: 'Permanent Marker', cursive;">Приветствуем вас в мире CRABLE</h1>
        <p class="text-muted" style="margin-left: 800px">место, свободное от суеты...</p>
        <img src="/static/back-pic.jpg" alt="..." height="250px" width="250px"
             style="border: 2px solid black; border-radius: 10px; margin: 20px 35px 20px 300px">
        <div>
        <p style="max-width: 250px; margin: -225px 0 0 598px">"Crable" - это портал для создания и взаимодействия персонажей ролевой игры
            SOMNIARE ANGULO, посвящённой миру фэнтези, средневековья и магии.</p>
        </div>
        <p class="text-muted" align="center" style="margin-top: 130px">Скорее авторизируйтесь, чтобы приступить к работе!</p>
    </div>
</div>
{% endblock %}