{% extends '__base_template.html' %}

{% block content %}


<form
        method="post"
        enctype="multipart/form-data"

        class="card"
>
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="form-group">
            <h4>Текст сообщения:</h4>
            <label for="{{ form.message.id }}">{{ form.message.label }}</label>
                        {{ form.message(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-light") }}
    </div>

</form>
{% endblock %}